{% load compress static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}chriscauley{% endblock %}">
    <meta name="application-name" content="">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "unrest/.dist/unrest-built.css" %}" />
    <script>var uR = { _ready: [], ready: function(f) { uR._ready.push(f) } }</script>

    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/base.less" />
    {% endcompress %}

    <!--[if IE 7]>
      <link rel="stylesheet" type="text/css" href="/static/design/ie7.css"/>
    <![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="/static/design/ie8.css"/>
    <![endif]-->

    {% block extrahead %}{% endblock %}
    {% block extra-head %}{# compromise =D #}{% endblock %}
  </head>

  <body>
    <div id="wrapper">
      <header>
        <ur-nav>{% include "_nav.html" %}</ur-nav>
      </header>
      <div id="content"></div>
      <footer></footer>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.6.8/riot.js"></script>
  {% compress js %}
  {% include "_js.html" %}
  <script src="{% static "unrest/.dist/unrest-built.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>
  <script src="{% static "js/router.js" %}"></script>
  {% endcompress %}
</html>
