<html>
<head>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<style type="text/css">
label:not(:first-child) { padding-left: 20px; }
</style>
<script type="text/javascript">
var CKEDITOR = window.parent.CKEDITOR;
function clearError() { $("ul").html("") }
function logError(t) { $("ul").append("<li>"+t+"</li>"); }

function makeIframe() {
  var valid = true, inputs = $('.number');
  clearError();
  var sum = $("#height").val()+$("#width").val();
  if (!("0"+sum*5)) {
    logError("Height and width must be integers or left blank.");
    valid = false;
  }
  if (!$("#photo").val()) {
    logError("Please select a photo");
    valid = false;
  }
  if (!valid) { return false; }
  var attrs = 'src="'+$("#photo").val()+'" ';
  if (!!$("#height").val()) { attrs += 'height="'+$("#height").val()+'" '; }
  if (!!$("#width").val()) { attrs += 'width="'+$("#width").val()+'" '; }
  return "<img " + attrs +" />"
}

var okListener = function(ev) {
  var iframe = makeIframe();
  if (!iframe) {
    $("ul").show();
    monkey()
  }
  this._.editor.insertHtml(iframe);
  CKEDITOR.dialog.getCurrent().removeListener("ok", okListener);
};

$(document).ready(function(){
  $("input,select").change(function(){
    $("iframe").remove();
    console.log(makeIframe());
    $("#photo_cell").html(makeIframe());
  });
  window.parent.document.getElementsByClassName("cke_dialog_page_contents")[0].style.height="400px";
});
CKEDITOR.dialog.getCurrent().on("ok", okListener);
</script>
<body>
  <form>
    <div>
      <select name="id" class="number" id="photo">
	<option>Select a photo!</option>{% for photo in photos%}
	<option value="{{ photo.url }}">{{ photo.name }}</option>{% endfor %}
      </select>
    </div>
    <div>
      <label>Width:</label>
      <input type="text" size="5" name="width" class="number" id="width" />
      <label>Height:</label>
      <input type="text" size="5" name="height" class="number" id="height" />
    </div>
    <ul></ul>
    <div id="photo_cell"></div>
  </form>
</body>
</html>
